# Python cache
__pycache__/
*.pyc

# Database files
*.db
*.sqlite

# Virtual environment
venv/

# Environment files
.env

# VSCode settings
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Price cache (ignore all csv in data)
data/*.csv

# But keep static ETF list
!data/us_etf_list.csv