# ----------------------------
# Python cache
# ----------------------------
__pycache__/
*.pyc

# ----------------------------
# Virtual environment
# ----------------------------
venv/

# ----------------------------
# Environment files
# ----------------------------
.env

# ----------------------------
# VSCode settings
# ----------------------------
.vscode/

# ----------------------------
# OS junk
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Database files (global)
# ----------------------------
*.sqlite

# ----------------------------
# Price cache (generated data)
# ----------------------------
data/price_cache/

!data/meta/symbol_master.db
# ----------------------------
# Old CSV price cache
# ----------------------------
data/*.csv

# ----------------------------
# Metadata (must keep)
# ----------------------------
!data/meta/
!data/meta/us_etf_list.csv
